{% extends '/_templates/_base.twig' %}
{% block title %}Kontakt{% endblock %}
{% block head %}
    <link rel="stylesheet" href="{{ constant('URL') }}css/blog.css">
{% endblock %}
{% block content %}
    <div class="row">

        <div class="col-sm-7 col-xs-12 blog-main">
            <div class="col-md-12 col-xs-12">
                <h3><a href="{{ makeURL('home:kontakt') }}">Kontakt</a></h3>
                ČESKÝ TECHNOLOGICKÝ INSTITUT <br>
                <br>
                Západočeská univerzita <br>
                Univerzitní 2732/8, <br>
                306 14 Plzeň 3 <br>
                Česká republika <br>
                <br>
                E-mail:	info&#64;cetein.cz <br>
                Tel:    +420&nbsp;421&nbsp;520&nbsp;123
            </div>
            <div id="mapa" class="col-md-12 col-xs-12">
                <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d10317.27115350869!2d13.351554!3d49.723644!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0xd6e42e57b44f70de!2zWsOhcGFkb8SNZXNrw6EgdW5pdmVyeml0YSB2IFBsem5p!5e0!3m2!1scs!2scz!4v1479478864130" width="600" height="450" frameborder="0" style="border:0" allowfullscreen></iframe>
            </div>
        </div><!-- /.blog-main -->

        <div class="col-sm-4 col-sm-offset-1 col-xs-12 blog-sidebar">
            <div class="sidebar-module sidebar-module-inset">
                <h4>O nás</h4>
                <p>
                    Jsme centrem vědecké excelence v oblasti věd o živé přírodě a pokročilých materiálů a
                    technologií, naším hlavním posláním je vybudování významného evropského střediska vědy
                    a vzdělanosti se špičkovým zázemím a podmínkami pro nejlepší vědecké pracovníky v Plzni.
            </div>
            <div class="sidebar-module sidebar-module-inset">
                <h4><a href="{{ makeURL('home:terminy') }}">Důležité termíny</a></h4>
                <ol class="list-unstyled">
                    <li>Konání konference: 4. - 8. 3. 2017</li>
                </ol>
            </div>
        </div><!-- /.blog-sidebar -->

    </div><!-- /.row -->
{% endblock %}
