{% extends '/_templates/_base.twig' %}
{% block title %}Administrace{% endblock %}
{% block content %}
    <div class="welcom col-md-10 col-md-offset-1 col-xs-12">
        <h3>Vítejte v administrace</h3>
    </div>
    <div class="col-md-10 col-md-offset-1 col-xs-12">
        <hr>
    </div>
    <div id="administrace_navbar" class="col-md-10 col-md-offset-1 col-xs-12">
        <div class="list-group">
            {% if session.uzivatel.role == autor %}
                <a class="list-group-item" href="{{ makeURL('administrace:prispevky') }}">
                    <h4 class="list-group-item-heading">Příspěvky</h4>
                    <p class="list-group-item-text">vytváření, editace, mazání příspěvků</p>
                </a>
            {% elseif session.uzivatel.role == recenzent %}
                <a class="list-group-item" href="{{ makeURL('administrace:krecenzi') }}">
                    <h4 class="list-group-item-heading">Příspěvky k recenzi</h4>
                    <p class="list-group-item-text">hodnocení příspěvků</p>
                </a>
            {% elseif session.uzivatel.role == admin %}
                <a class="list-group-item" href="{{ makeURL('administrace:uzivatele') }}">
                    <h4 class="list-group-item-heading">Uživatelé</h4>
                    <p class="list-group-item-text">správa uživatelských účtů</p>
                </a>
                <a class="list-group-item" href="{{ makeURL('administrace:spravarecenzi') }}">
                    <h4 class="list-group-item-heading">Správa recenzí</h4>
                    <p class="list-group-item-text">přiřazování neschválených příspěvků recenzentům k ohodnocení, přijetí/zamítnutí příspěvků na základě hodnocení</p>
                </a>
            {% endif %}
        </div>
    </div>
{% endblock %}
