{% extends '/_templates/_base.twig' %}
{% block title %}404{% endblock %}
{% block content %}
    <div class="col-md-12 error-info" align="center">
        <h1 class="error-code animated bounceInDown">404</h1>
        <h1>Ooops. Stránka nebyla nalezena.</h1>
    </div>
{% endblock %}